@use "./variables.scss" as *;

// 最近笔记 间距全局调整
.recent-notes {
  padding: 0.5rem;    // 框内留白缩小
  margin-top: 0.8rem;  // 和上方文字距离
}

.recent-notes ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;         // 笔记条目之间空隙
  padding-left: 0;
}

.recent-notes li time {
  margin-top: 0.1rem;  // 标题和日期的距离
}
