@use "./variables.scss" as *;

.recent-notes > ul.recent-ul > li {
  margin: 0.25rem 0;
  .section > .desc > h3 > a {
    font-size: 0.85rem;
  }
  .section > .meta {
    font-size: 0.75rem;
    opacity: 0.5;
  }
}
